// COLORS
$nav-bg: #343434 !default;
$nav-font-color: #fff8f0 !default;
$app-header-title: #207a91 !default;
$section-header-title: #207a91 !default;
$main-bg: #fffdfa !default;
$highlight: #ff7300 !default;
// SIZE
$nav-width-lg: 260px !default;
$main-width: calc(100% - 300px);
